<nav class="navbar navbar-default navbar-fixed-top header-color">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/web/user/home">Relcon Systems</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse anchor-a-style">
            <ul class="nav navbar-nav">
                <li id="li-home"><a href="/web/user/home">Home</a></li>
                <li id="li-user" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">User<span class="caret arrow-dropdown"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/web/user/create">Create User</a></li>
                        <li><a href="/web/user/view">View User</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/web/user/role">Create Role</a></li>
                    </ul>
                </li>
                {{!-- <li><a href="/web/asset/create">Create Asset</a></li> --}}
                <li id="li-configuration" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Configuration<span class="caret arrow-dropdown"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/web/site/create">Create Site</a></li>
                        <li><a href="/web/site/view">View Site</a></li>
                        <li role="separator" class="divider"></li>
                        {{!-- <li><a href="/web/asset/create">Create Asset</a></li> --}}
                        <li><a href="/web/asset/type">Asset Type</a></li>
                        <li><a href="/web/asset/view">View Asset</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{!-- <li><a href="#">Default</a></li>
                <li><a href="#">Static top</a></li> --}}
                <li><a href="/web/user/logout" class="logout-a">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>