<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
{{#if login}}
{{{body}}}
{{else}}
{{>menu}}
<div class="container" style="padding-top: 100px;">
{{{_sections.content}}}
</div>
{{/if}}
</body>

</html>