<!DOCTYPE html>
<html lang="en">

{{>header}}

<body class="body-gb-color">
{{#if login}}
{{{body}}}
{{else}}
{{>menu}}
<div class="container-fluid" style="padding-top: 70px;">
{{{_sections.content}}}
</div>
{{/if}}
</body>

</html>