{{#section "content"}}
<div class="jumbotron jumbotron-j">
    <h3>Welcome To Relcon Systems</h3><br>
    <p class="page-text">Few Configuration are nedded to start using Tag Scanner Mobile Application</p>
    <p class="page-text">Configure User Using Menu User > Create User</p>
    <p class="page-text">Register Site Using Menu Configuration > Create Site</p>
    <p class="page-text">Make Asset Using By Selecting Menu > View Site And
        Then Click On Particular Site To Make The Asset
    </p>
</div>
<script>
    document.getElementById('li-home').classList.add('active');
</script>
{{/section}}