.body-gb-color{
    background-color: #797979;
}
.login-header{
    text-align: center;
    color: cadetblue;
    font-weight: 700;
}
.logo{
    color: #cecece !important;
    padding-right: 25px;
    font-size:25px;
    font-weight: 700;
}
.anchor-a-style ul li a{
    color:#170992 !important;
    font-weight: 700;
}
.logout-a{
    color: red !important;
    font-size: 15px;
    /* border: 1px solid #067364; */
}   
.header-color{
    background-color: #797979;
}
.page-all-header{
    color: #17098e;
    text-decoration: underline;
    font-size: 22px;
}
.jumbotron-j{
    background-color:white;
}
.relcon-btn{
    color:white;
    float:right;
    font-weight:600;
    font-size:18px;
}
.main-header{
    color: cadetblue;
    text-decoration: underline;
}
.page-text{
    color: #067364;
    font-size: 19px !important;
    padding-left: 25px;
}
.arrow-dropdown{
    margin-left: 6px;
}
.error-message{
    color: #8e1509;
    padding-left:10px;
    font-weight: 600;
}
.invalid-text{
    border: 1px solid red;
}
.grid_view{

}
.grid_view tr th{
    white-space: nowrap;
}
.grid_view tr td{
    padding:5px !important;
    text-align: center;
    white-space: nowrap;
}
.grid_view tr:nth-child(odd){
    background-color: #64a2c5;
    color: #fff;
}
.grid_view tr td:first-child{
    font-weight: 600;
}
.grid_view tr th{
    padding:3px !important;
    background-color: #170992;
    color: white;
}
.label-css{
    color: #170992;
    padding-left: 16px;
    padding-bottom: 5px;
    font-size: 16px;
}
